$color-text: #424242;
$color-text-title: #212121;
$color-text-link: #005FAE;
$color-text-small: #999999;
$color-text-breadcrumbs: #666666;

$color-elem-main: #005FAE;
$color-background-darker: #F0F0F0;
$color-header: #F7F7F7;
$color-background-promo: #FAFAFA;
$color-table-border: #E0E0E0;

$color-btn-buy: #EE6C4D;
$color-btn-sale: #6199C6;
$color-btn-work: #00C346;
